{% extends 'userprofile/base.html' %}
{% block content %}

<p>1. How many days per week do you want to workout?</p>
<form action="{% url 'configure' %}" method="POST">
    {% csrf_token %}
    <input type="radio" name="days" value="3" id="3 days"><label for="3 days">3 days</label><br>
    <input type="radio" name="days" value="4" id="4 days"><label for="4 days">4 days</label><br>
    <input type="radio" name="days" value="5" id="5 days"><label for="5 days">5 days</label><br>
    <input type="submit" name="day_amount">
</form>

<p>You selected {{ days }} days.</p>

<p>2. Choose your exercises</p>

<div class="row justify-content-center">
<form action="{% url 'configure' %}" method="POST">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th colspan="2">Day 1</th>
            <th colspan="2">Day 2</th>
            <th colspan="2">Day 3</th>
        </tr>
        <tr>
            <th>Max Ex</th>
            <th>Sec Ex</th>
            <th>Max Ex</th>
            <th>Sec Ex</th>
            <th>Max Ex</th>
            <th>Sec Ex</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ configure_workout_day1.first_max_exercise }}</td>
            <td>{{ configure_workout_day1.first_sec_exercise }}</td>
            <td>{{ configure_workout_day2.first_max_exercise }}</td>
            <td>{{ configure_workout_day2.first_sec_exercise }}</td>
            <td>{{ configure_workout_day3.first_max_exercise }}</td>
            <td>{{ configure_workout_day3.first_sec_exercise }}</td>
        </tr>
        <tr>
            <td>{{ configure_workout_day1.second_max_exercise }}</td>
            <td>{{ configure_workout_day1.second_sec_exercise }}</td>
            <td>{{ configure_workout_day2.second_max_exercise }}</td>
            <td>{{ configure_workout_day2.second_sec_exercise }}</td>
            <td>{{ configure_workout_day3.second_max_exercise }}</td>
            <td>{{ configure_workout_day3.second_sec_exercise }}</td>
        </tr>
        <tr>
            <td>{{ configure_workout_day1.third_max_exercise }}</td>
            <td>{{ configure_workout_day1.third_sec_exercise }}</td>
            <td>{{ configure_workout_day2.third_max_exercise }}</td>
            <td>{{ configure_workout_day2.third_sec_exercise }}</td>
            <td>{{ configure_workout_day3.third_max_exercise }}</td>
            <td>{{ configure_workout_day3.third_sec_exercise }}</td>
        </tr>
        <tr>
            <td>{{ configure_workout_day1.fourth_max_exercise }}</td>
            <td>{{ configure_workout_day1.fourth_sec_exercise }}</td>
            <td>{{ configure_workout_day2.fourth_max_exercise }}</td>
            <td>{{ configure_workout_day2.fourth_sec_exercise }}</td>
            <td>{{ configure_workout_day3.fourth_max_exercise }}</td>
            <td>{{ configure_workout_day3.fourth_sec_exercise }}</td>
        </tr>
    </tbody>
</table>
<input type="submit" class="btn btn-primary" name="configuration_completed">

</form>
</div>


{% endblock %}
