{% extends 'userprofile/base.html' %}
{% block content %}

<div class="container">
    
    <div class="row justify-content-center">
        <h1>This is your very own profile!</h1>
    </div>
    <br>
    
    <a href="{% url 'workout' current_cycle %}" class="btn btn-success">Continue your current workout!</a>
    <a href="{% url 'configure' %}" class="btn btn-primary">Configure your next macrocycle!</a>
    <br>

    
<br>
<h2>Calculate your Max Rep</h2>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" id="calculate-tab" data-toggle="tab" href="#tab1" role="tab">Calculate</a></li>
    <li class="nav-item"><a class="nav-link" id="add-new-max-tab" data-toggle="tab" href="#tab2" role="tab">Add new Max Value</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active p-3" id="tab1" role="tabpanel">
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <input type="number" step="0.01" placeholder="Weight", name="weight">
            <input type="number" step="0.01" placeholder="Reps", name="reps">
            <button name="calculated_maxrep">Calculate!</button>
        </form>
    </div>
    <div class="tab-pane fade p-3" id="tab2" role="tabpanel">
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-5">{{ form_maxval.choose_exercise.label_tag }} {{ form_maxval.choose_exercise }}</div>
                <p class="col-1">or</p>
                <div class="form-group col-5">{{ form_maxval.create_exercise.label_tag }} {{ form_maxval.create_exercise }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">{{ form_maxval.reps.label_tag }} {{ form_maxval.reps }}</div>
                <div class="form-group col-6">{{ form_maxval.weight.label_tag }} {{ form_maxval.weight }}</div>
            </div>
            <button name="calculate_and_safe" class="btn btn-primary">Add new Max Val Exercise!</button>
        </form>
    </div>
</div>
{% if error %}
<p class="bg-danger p-3">{{ error }}</p>
{% endif %}
{% if ergebnis %}
<p class="bg-success p-3">{{ ergebnis }}</p>
{% endif %}


<br>
<h2>Your current Max-reps</h2>

{% if not maxvals %}
<p>You currently don't have any max values set. Use the above calculator to add new exercises!</p>
{% endif %}

<div class="row">
{% for maxval in maxvals %}
    <div class="col-2 p-3 m-3 maxvals text-left">
        <p><b>{{ maxval.exercise }}</b><br>Max Value: {{ maxval.max_value }} KG<br>{{ maxval.timestamp|date:"d.m.Y H:i" }}</p>
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{ maxval.id }}">
            <button class="btn btn-outline-light" name="delete_maxval">Del</button>
        </form>
    </div>
{% endfor %}
</div>

<h2>Manage your secondary exercises</h2>
<form action="{% url 'profile' %}" method="POST" class="p-3" id="sec_exercise">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-6">{{ form.title.label_tag }} {{ form.title }}</div>
        <div class="form-group col-6">{{ form.muscle.label_tag }} {{ form.muscle }}</div>
    </div>
    <p>These fields are optional. However, you will need to provide your current weight to have them displayed in your workout plan:</p>
    <div class="form-row">
        <div class="form-group col">{{ form.high_range.label_tag }} {{ form.high_range }}</div>
        <div class="form-group col">{{ form.mid_range.label_tag }} {{ form.mid_range }}</div>
        <div class="form-group col">{{ form.low_range.label_tag }} {{ form.low_range }}</div>
    </div>
    <button class="btn btn-success" name="added_exercise">Add new secondary exercise</button>
</form>
{% if form_error %}
<p class="bg-danger p-3">{{ form_error }}</p>
{% endif %}

{% if not exercises %}
<p>Create some exercises to build your workout!</p>
{% endif %}

{% for musclegroup in musclegroups %}

    <div class="row">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ musclegroup }}" aria-expanded="true" aria-controls="{{ musclegroup }}">{{ musclegroup }}</button>
    </div>

    <div class="row overview_exercises collapse show" id="{{ musclegroup }}">
    {% for exercise in exercises %}
        {% if exercise.muscle == musclegroup %}


        <div class="col-4 card card-body">
            <form action="{% url 'profile' %}" class="form-inline" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <input type="text" name="title" value="{{ exercise.title }}" maxlength="100" required>
                    <select name="muscle">
                        <option value="{{ exercise.muscle }}" selected>{{ exercise.muscle }}</option>
                        {% for muscle in musclegroups %}
                        {% if muscle != exercise.muscle %}<option value="{{ muscle }}">{{ muscle }}</option>{% endif %}
                        {% endfor %}
                    </select>
                    <input type="number" min="1" max="999" name="high_range" value="{{ exercise.high_range }}">
                    <input type="number" min="1" max="999" name="mid_range" value="{{ exercise.mid_range }}">
                    <input type="number" min="1" max="999" name="low_range" value="{{ exercise.low_range }}">
                    <input type="hidden" name="{{ exercise.id }}">
                    <button class="btn btn-outline-light" name="modified_exercise" value="{{ exercise.id }}">Mod</button>
                    <button class="btn btn-outline-light" name="deleted_exercise" value="{{ exercise.id }}">Del</button>
                </div>
            </form>
        </div>


        {% endif %}
    {% endfor %}
    </div>

    {% endfor %}


<h2>View all your past macrocycles</h3>
{% for cycle in cycles %}
<a href="{% url 'workout' cycle.cycle_name %}" class="btn btn-success m-1">
    <p><b>{{ cycle.cycle_name|capfirst }}</b><br>{{ cycle.timestamp|date:"d.m.Y" }}</p>
</a>
{% endfor %}


</div>
{% endblock %}
