{% extends 'userprofile/base.html' %}
{% block content %}

<h1>This is your very own profile!</h1>
<h2>Calculate your Max Rep</h2>
<p>You can potentially add to another database to track progress</p>
<form action="{% url 'profile' %}" method="POST">
    {% csrf_token %}
    <select name="exercise">
        <option value="nothing_selected">Choose your Exercise</option>
        {% for exercise in exercises %}
        <option value="{{ exercise.title }}">{{ exercise.title }}</option>
        {% endfor %}
    </select>
    <input type="text" placeholder="Weight", name="weight">
    <input type="text" placeholder="Reps", name="reps">

    <input type="submit" name="calculated_maxrep">
    <input type="submit" name="calculate_and_safe">

</form>

<p>{{ ergebnis }}</p>

<h2>View your current Max-reps</h2>

<h2>View your overall progress: "Awesome Plot"</h2>

<h2>Manage all your exercises (add/delete/modify)</h2>


<h2>Add an Exercise to the Database</h2>
<form action="{% url 'profile' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="added_exercise">
</form>

<h2>Here's a link to your current workout plan:</h2>

{% endblock %}
