{% extends 'userprofile/base.html' %}
{% block content %}


<div class="container">

<h1 class="mx-3 mt-3 text-center">Master Advanced Workouts With Ease</h1>
<p class="mb-3 text-center">Based on Michael Matthew's Training Method "Beyond Bigger Leaner Stronger"</p>

<div class="row justify-content-center bg-light">
    <div class="col-10 col-md-6 col-lg-3 my-5 p-3 text-white bg-dark shadow rounded">
    <form action="" method="post">
        {% csrf_token %}
        {% if error %}<p class="bg-danger text-white p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill mx-2" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        {{ error }}</p>{% endif %}
        <p>{{ create_user.username.label_tag }}<br> {{ create_user.username }}</p>
        <p>{{ create_user.password1.label_tag }}<br> {{ create_user.password1 }}</p>
        <p>{{ create_user.password2.label_tag }}<br> {{ create_user.password2 }}</p>
        <button type="submit" class="btn btn-primary">Sign up!</button>
    </form>
    </div>
</div> 

<h2 class="text-center m-4">Explore your benefits:</h2>
{% load static %}
<div class="row justify-content-around">
        <div class="col-12 col-md-5 bg-light p-3 m-2 text-center">
            <img src="{% static '/userprofile/images/calculate_1rm.png' %}" class="img-reponsive" alt="calculate your one rep value">
            <p class="m-3 p-3 bg-dark text-white shadow rounded">Calculate your 1RM and save your progress of primary exercises.</p>
        </div>
        <div class="col-12 col-md-5 bg-light p-3 m-2 text-center">
            <img src="{% static '/userprofile/images/manage_exercises.png' %}" class="img-reponsive" alt="manage all your exercises">
            <p class="m-3 p-3 bg-dark text-white shadow rounded">View, add and modify all your favorite exercises.</p>
        </div>
        <div class="col-12 col-md-5 bg-light p-3 m-2 text-center">
            <img src="{% static '/userprofile/images/configure_workout.png' %}" class="img-reponsive" alt="configure your workout">
            <p class="m-3 p-3 bg-dark text-white shadow rounded">Easily configure your total workout plan based on how many days per week you want to train.</p>
        </div>
        <div class="col-12 col-md-5 bg-light p-3 m-2 text-center">
            <img src="{% static '/userprofile/images/train_macrocycle.png' %}" class="img-reponsive" alt="train a full macrocycle">
            <p class="m-3 p-3 bg-dark text-white shadow rounded">Train a full macrocyle with months of workouts. All the necessary information at a glance!</p>
        </div>
</div>

<div class="m-5"></div>

</div>

{% endblock %}
