{% extends 'userprofile/base.html' %}
{% block content %}


<div class="container">

<h1>Easily configure your Fitness-App based on "Beyond bigger leaner stronger"!</h1>

<div class="row justify-content-center bg-light">
    <div class="col-10 col-md-6 col-lg-3 my-5 p-3 text-white bg-dark shadow rounded">
    <form action="" method="post">
        {% csrf_token %}
        {% if error %}<p class="bg-danger text-white p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill mx-2" viewBox="0 0 16 16">
            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        {{ error }}</p>{% endif %}
        <p>{{ create_user.username.label_tag }}<br> {{ create_user.username }}</p>
        <p>{{ create_user.password1.label_tag }}<br> {{ create_user.password1 }}</p>
        <p>{{ create_user.password2.label_tag }}<br> {{ create_user.password2 }}</p>
        <button type="submit" class="btn btn-primary">Sign up!</button>
    </form>
    </div>
</div> 

<div class="row justify-content-center my-5">
    <h2>List at least 3 benefits for the user what this app is able to do:</h2>
    {% load static %}
    <img src="{% static '/userprofile/images/beach.jpg' %}" alt="beach">
    <p>Hier gehört noch ein erklärender Text, was Beyond Bigger Leaner Stronger eigentlich tut</p>
</div>

</div>

{% endblock %}
