{% extends 'userprofile/base.html' %}
{% block content %}

<h1>Your current Macrocycle:</h1>


<div class="container">
{% for entry in workout %}

<div class="row justify-content-center">
    <form action="{% url 'workout' cycle %}" method="POST">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th colspan="3">Week XY</th>
            </tr>
            <tr>
                <th>Day {{ entry.day_count }}</th>
                <th>Current % Max Value</th>
                <th>High / mid / low</th>
            </tr>
            <tr>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Reps per Set</th>
            </tr>
        </thead>
        <tbody>
            {% if entry.exercise_1 %}
            <tr>
                <td>{{ entry.exercise_1 }}</td>
                <td>{{ entry.exercise_1_weight }}</td>
                {% if not entry.day_completed %}
                <td>
                    <input type="number" min="1" max="20" required="required" name="exercise_1">
                    <input type="number" min="1" max="20" required="required" name="exercise_1">
                    <input type="number" min="1" max="20" required="required" name="exercise_1">
                    <input type="number" min="1" max="20" required="required" name="exercise_1">
                </td>
                {% else %}
                <td><div class="d-inline mx-3">{{ entry.exercise_1_set_1 }}</div><div class="d-inline mx-3">{{ entry.exercise_1_set_2 }}</div><div class="d-inline mx-3">{{ entry.exercise_1_set_3 }}</div><div class="d-inline mx-3">{{ entry.exercise_1_set_4 }}</div></td>
                {% endif %}
            </tr>
            {% endif %}
            {% if entry.exercise_2 %}
            <tr>
                <td>{{ entry.exercise_2 }}</td>
                <td>{{ entry.exercise_2_weight }}</td>
                {% if not entry.day_completed %}
                <td>
                    <input type="number" min="1" max="20" required="required" name="exercise_2">
                    <input type="number" min="1" max="20" required="required" name="exercise_2">
                    <input type="number" min="1" max="20" required="required" name="exercise_2">
                    <input type="number" min="1" max="20" required="required" name="exercise_2">
                </td>
                {% else %}
                <td><div class="d-inline mx-3">{{ entry.exercise_2_set_1 }}</div><div class="d-inline mx-3">{{ entry.exercise_2_set_2 }}</div><div class="d-inline mx-3">{{ entry.exercise_2_set_3 }}</div><div class="d-inline mx-3">{{ entry.exercise_2_set_4 }}</div></td>
                {% endif %}
            </tr>
            {% endif %}
            {% if exercise_3 %}
            <tr>
                <td>{{ entry.exercise_3 }}</td>
                <td>{{ entry.exercise_3_weight }}</td>
                {% if not entry.day_completed %}
                <td>
                    <input type="number" min="1" max="20" required="required" name="exercise_3">
                    <input type="number" min="1" max="20" required="required" name="exercise_3">
                    <input type="number" min="1" max="20" required="required" name="exercise_3">
                    <input type="number" min="1" max="20" required="required" name="exercise_3">
                </td>
                {% else %}
                <td><div class="d-inline mx-3">{{ entry.exercise_3_set_1 }}</div><div class="d-inline mx-3">{{ entry.exercise_3_set_2 }}</div><div class="d-inline mx-3">{{ entry.exercise_3_set_3 }}</div><div class="d-inline mx-3">{{ entry.exercise_3_set_4 }}</div></td>
                {% endif %}
            </tr>
            {% endif %}
            {% if exercise_4 %}
            <tr>
                <td>{{ entry.exercise_4 }}</td>
                <td>{{ entry.exercise_4_weight }}</td>
                {% if not entry.day_completed %}
                <td>
                    <input type="number" min="1" max="20" required="required" name="exercise_4">
                    <input type="number" min="1" max="20" required="required" name="exercise_4">
                    <input type="number" min="1" max="20" required="required" name="exercise_4">
                    <input type="number" min="1" max="20" required="required" name="exercise_4">
                </td>
                {% else %}
                <td><div class="d-inline mx-3">{{ entry.exercise_4_set_1 }}</div><div class="d-inline mx-3">{{ entry.exercise_4_set_2 }}</div><div class="d-inline mx-3">{{ entry.exercise_4_set_3 }}</div><div class="d-inline mx-3">{{ entry.exercise_4_set_4 }}</div></td>
                {% endif %}
            </tr>
            {% endif %}
        </tbody>
    </table>
    <input type="hidden" name="day" value="{{ entry.day_count }}">
    {% if entry.day_completed %}
    <p>Day {{ entry.day_count }} completed!</p>
    {% else %}
    <input type="submit" class="btn btn-primary" name="workout_done" value="Complete Day {{ entry.day_count }}">
    {% endif %}
    </form>
</div>

{% endfor %}
</div>



{% endblock %}
