{% extends 'userprofile/base.html' %}
{% block content %}

<h1>Your current Macrocycle:</h1>


{% for entry in workout %}
<div class="container">
<div class="row justify-content-center">
    <form action="{% url 'workout' cycle %}" method="POST">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th colspan="3">Week XY</th>
            </tr>
            <tr>
                <th>Day {{ entry.day_count }}</th>
                <th>Current % Max Value</th>
                <th>High / mid / low</th>
            </tr>
            <tr>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Reps per Set</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entry.exercise_1 }}</td>
                <td>{{ entry.exercise_1_weight }}</td>
                <!-- if empty, loop through the IIIIs in Workout Plan
                If not empty, loop through the FILLED values in Reps!
                -->
                <td>{% for set in entry.exercise_1_setcount %} <input type="number" required="required" name="{{ exercise_1 }}"  value="{{ exercise_1_set|add:set }}"> {% endfor %}</td>
            </tr>
            <tr>
                <td>{{ entry.exercise_2 }}</td>
                <td>{{ entry.exercise_2_weight }}</td>
                <td>Some User Input</td>
            </tr>
            <tr>
                <td>{{ entry.exercise_3 }}</td>
                <td>{{ entry.exercise_3_weight }}</td>
                <td>Some User Input</td>
            </tr>
            <tr>
                <td>{{ entry.exercise_4 }}</td>
                <td>{{ entry.exercise_4_weight }}</td>
                <td>Some User Input</td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="day" value="{{ entry.day_count }}">
    <input type="submit" class="btn btn-primary" name="workout_done" value="Day {{ entry.day_count }} completed">
    </form>
</div>
</div>
{% endfor %}



{% endblock %}
