h1 {
    color: #2181ff;
    text-align: center;
}

h3 {
    font-size: 0.9em;
    color: white;
}

img {
    max-width: 25%;
    max-height: 25%;
}

#tab2 {
    background-color: #e6f5ff;
}

.maxvals {
    font-size: 0.9em;
    color: white;
    background-color: #2181ff;
}

.sec_exercise {
    background-color: #e0ffe7;
}

.overview_exercises {
    background-color: #32ba5b;
}

hr {
    border: 1px solid white;
}

.reps {
    width: 2.3em;
    height: 1.8em;
}

.footnote {
    font-size: 0.85em;
}