h1 {
    color: red;
}

img {
    max-width: 25%;
    max-height: 25%;
}

#tab2 {
    background-color: #e6f5ff;
}

#sec_exercise {
    background-color: #e0ffe7;
}

.maxvals {
    font-size: 0.9em;
    color: white;
    background-color: #2181ff;
}