h1 {
    color: #2181ff;
    text-align: center;
}

h3 {
    font-size: 0.9em;
    color: white;
}

#tab1, #tab2 {
    background-color: #e6f5ff;
}

.maxvals {
    font-size: 0.9em;
    color: white;
    background-color: #2181ff;
}

.sec_exercise {
    background-color: #e0ffe7;
}

.overview_exercises {
    background-color: #32ba5b;
}

hr {
    border: 2px solid #e0ffe7;
}

.reps {
    width: 2.4em;
    height: 1.9em;
}

.sec_ranges {
    width: 3em;
    height: 2em;
}

.footnote {
    font-size: 0.8em;
}

#id_reps, #id_weight {
    width: 4em;
    height: 2em;
}

#id_first_max_exercise, #id_first_sec_exercise, #id_second_max_exercise, #id_second_sec_exercise, #id_third_max_exercise, #id_third_sec_exercise, #id_fourth_max_exercise, #id_fourth_sec_exercise {
    padding: 0.25em;
    margin: 0.25em;
    border: 1px solid grey;
    border-radius: 7.5%;
    width: 85%;
}

#id_choose_exercise {
    padding: 0.25em;
    margin: 0.25em;
}

#id_title {
    width: 10em;
}

img {
    max-width: 75%;
}

@media (max-width: 576px) {
    h1 {font-size: 2em;}
}